p{
    color: rgb(209, 10, 10);
    background-color: aquamarine;
    font-size: 22px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}